@import "tailwindcss"; 

:root {
  --background: #f8fcff;
  --foreground: #07092e;

  --primary: #0b4ed7;
  --secondary: #27c8f9;
  --accent: #f7e41c;

  --card: #ffffff;
  --muted: #eef7ff;

  --radius: 1.25rem;
  --border: #dceeff;

  -accent-ui: var(--primary);
}

.dark {
  --background: #07092e;
  --foreground: #ffffff;

  --card: #0d1038;
  --muted: #151a45;

  --border: #1d2458;

  --accent-ui: var(--accent);
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);

  --color-card: var(--card);
  --color-muted: var(--muted);

  --color-border: var(--border);

  --radius-xl: var(--radius);

  --color-ui-accent: var(--accent-ui);
}

html {
  scroll-behavior: smooth;
}

* {
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-poppins);
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

::selection {
  background: #f7e41c;
  color: #07092e;
}